@import '../../styles.less';

.article-container {
    
    &__column {
        width:33.333%;
    }
}

//large desktop
@media screen and (min-width:@min-largedesktop) {
    .article-container {

        &__column {
            width:25%;
        }
    }
}
//mobile
@media screen and(max-width:@max-mobile) {
    .article-container {

        &__column {
            width:100%;
        }
    }
}
