<app-herobanner></app-herobanner>

<div class="page-wrapper page-about">
	<section class="section page-about__skills">
		<h2 class="section__title">Skills</h2>
		<h4 class="section__subtitle">Core</h4>
		<div class="section__content">
			<span class="icon icon-large icon-color-theme icon-aem" title="Adobe Experience Manager">
				<span class="pt1"></span>
				<span class="pt2"></span>
				<span class="pt3"></span>
			</span>
			<span class="icon icon-large icon-color-theme icon-git" title="Git"></span>
			<span class="icon icon-large icon-color-theme icon-java" title="Java"></span>
		</div>
		<h4 class="section__subtitle">Supplementary</h4>
		<div class="section__content">
			<span class="icon icon-large icon-color-theme icon-angular" title="Angular"></span>
			<span class="icon icon-large icon-color-theme icon-aws" title="Amazon Web Services">
				<span class="pt1"></span>
				<span class="pt2"></span>
			</span>
			<span class="icon icon-large icon-color-theme icon-css" title="CSS3"></span>
			<span class="icon icon-large icon-color-theme icon-ga" title="Google Analytics"></span>
			<span class="icon icon-large icon-color-theme icon-html" title="HTML5"></span>
			<span class="icon icon-large icon-color-theme icon-ionic" title="Ionic"></span>
			<span class="icon icon-large icon-color-theme icon-javascript" title="Javascript"></span>
			<span class="icon icon-large icon-color-theme icon-less" title="Less"></span>
			<span class="icon icon-large icon-color-theme icon-mysql" title="MySQL"></span>
			<span class="icon icon-large icon-color-theme icon-node" title="NodeJS"></span>
			<span class="icon icon-large icon-color-theme icon-typescript" title="Typescript"></span>
		</div>
	</section>
	<hr/>
	<section class="section page-about__projects">
		<h2 class="section__title">Projects</h2>
		<div class="project" *ngFor="let project of projects">
			<h4 class="section__subtitle project__title">{{ project.name }}</h4>
			<h5 class="project__feature">
				<ng-container *ngFor="let feature of project.features; let i = index">
					{{feature}} <ng-container *ngIf="i < projects.length-1">&#8226;</ng-container> 
				</ng-container>
			</h5>
			<div class="section__content project__content">
				<div>{{project.content}}</div>
			</div>
		</div>
		<hr/>
	</section>
</div>

<app-footer></app-footer>
