<app-herobanner></app-herobanner>

<div class="page-wrapper page-about">
	<div class="section page-about__skills">
		<h2 class="section__title">Skills</h2>
		<h4 class="section__subtitle">Core</h4>
		<div class="section__content">
			<span class="icon icon-aem" title="Adobe Experience Manager"></span>
			<span class="icon icon-git" title="Git"></span>
			<span class="icon icon-java" title="Java"></span>
		</div>
		<h4 class="section__subtitle">Supplementary</h4>
		<div class="section__content">
			<span class="icon icon-angular" title="Angular"></span>
			<span class="icon icon-aws" title="Amazon Web Services"></span>
			<span class="icon icon-css" title="CSS3"></span>
			<span class="icon icon-ga" title="Google Analytics"></span>
			<span class="icon icon-html" title="HTML5"></span>
			<span class="icon icon-ionic" title="Ionic"></span>
			<span class="icon icon-javascript" title="Javascript"></span>
			<span class="icon icon-mysql" title="MySQL"></span>
			<span class="icon icon-less" title="Less"></span>
			<span class="icon icon-typescript" title="Typescript"></span>
		</div>
	</div>
</div>