<app-herobanner></app-herobanner>

<div class="page-wrapper page-about">
	<section class="section page">
		<!-- <h2 class="section__title">-</h2> -->
		<div class="section__content">
			<div>
				<p>I am Eugene Ng from Singapore. My day-to-day job involves implementing and delivering Adobe Experience Manager (AEM) projects for various large companies. Through the years of implementing AEM, I've picked up various skillsets ranging from frontend technologies to backend server-side scripting. In my free time, I enjoy playing games at a casual level and trying to improve my Japanese as a 3rd language.</p>
				<p>This is a personal site which I've built as a side project to experiment and document ideas.</p>
				<h4 class="section__subtitle">Current Personal Projects</h4>
				<ul>
					<li>Headless CMS</li>
					<li>Analytics - Google Analytics & Tag Manager</li>
				</ul>
				<h4 class="section__subtitle">Backlog</h4>
				<ul>
					<li>Personalization - Google Optimize</li>
					<li>Analytics - Data scraping and visualization</li>
					<li>Python 3</li>
				</ul>
			</div>
		</div>
	</section>
	<hr/>
	<section class="section page-about__skills">
		<h2 class="section__title">Skills</h2>
		<h4 class="section__subtitle">Core</h4>
		<div class="section__content">
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-aem" title="Adobe Experience Manager">
				<span class="pt1"></span>
				<span class="pt2"></span>
				<span class="pt3"></span>
			</span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-git" title="Git"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-java" title="Java"></span>
		</div>
		<h4 class="section__subtitle">Supplementary</h4>
		<div class="section__content">
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-angular" title="Angular"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skil icon icon-large icon-color-theme icon-aws" title="Amazon Web Services">
				<span class="pt1"></span>
				<span class="pt2"></span>
			</span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-css" title="CSS3"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-ga" title="Google Analytics"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-html" title="HTML5"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-ionic" title="Ionic"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-javascript" title="Javascript"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-less" title="Less"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-mysql" title="MySQL"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-node" title="NodeJS"></span>
			<span (touchstart)="showSkill($event)" (touchend)="hideSkill()" class="icon--skill icon icon-large icon-color-theme icon-typescript" title="Typescript"></span>
		</div>
		<app-tooltip #skillTooltip></app-tooltip>
	</section>
	<hr/>
	<section class="section page-about__projects">
		<h2 class="section__title">Projects</h2>
		<div class="project" *ngFor="let project of projects">
			<h4 class="section__subtitle project__title">{{ project.name }}</h4>
			<h5 class="project__feature">
				<ng-container *ngFor="let feature of project.features; let i = index">
					{{feature}} <ng-container *ngIf="i < projects.length-1">&#8226;</ng-container> 
				</ng-container>
			</h5>
			<div class="section__content project__content">
				<div>{{project.content}}</div>
			</div>
		</div>
		<hr/>
	</section>
</div>

<app-footer></app-footer>
