<div class="navigation__fixed {{fixedNaviActive ? 'active': ''}}" >
</div>
<nav class="navigation" [style.top.vh]="topPos">
	<div class="navigation__wrapper">
		<a class="navigation__item" (click)="navigate('/');">
			<span class="navigation__item-text">Home</span>
		</a>
		<!-- <a class="navigation__item" (click)="navigate('/articles');">
			<span >Archives</span>
		</a> -->
		<a class="navigation__item" (click)="navigate('/about');">
			<span class="navigation__item-text">About</span>
		</a>
	</div>
</nav>
<router-outlet></router-outlet>