:host-context(.article-page-container) {
    .article {
        margin:0;
        overflow:hidden;
        .flex();
    
        &__body {
        }
    
        &__image-container {
            display:none;
            text-align:center;
            img {
                object-fit:cover;
            }
        }
    }
}